.container-input
{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.input-button,.input-search
{
    border-style: solid;
    
    height: 40px;
    font-family: 'Nunito', sans-serif;
    font-size: large;
}
.input-search
{
    outline: none;
    border-left-color: rgb(100, 100, 100);
    border-top-color: rgb(100, 100, 100);
    border-bottom-color: rgb(100, 100, 100);
    border-right-style: none;
    padding-left: 5px;
    width: 420px;
    border-radius: 20px 0px 0px 20px;
}
.input-button
{
    border-right-color: rgb(100, 100, 100);
    border-top-color: rgb(100, 100, 100);
    border-bottom-color: rgb(100, 100, 100);
    border-left-style: none;
    border-radius: 0px 20px 20px 0px;
    color: rgb(60, 60, 60);
    font-weight: bold;
}